<!DOCTYPE html>
<html lang="pt">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TripWus</title>

    <!-- Css do site inteiro-->
    <link rel="shortcut icon" type="img/x-png" href="../../assets/img/logo-top.png">
    <link rel="stylesheet" type="text/css" href="../../assets/vendor/semantic/semantic.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/estilo.css">
    <link rel="stylesheet" type="text/js" href="../../assets/js/script.js">


</head>

<body>


<!--Barra do topo la em cima -->

<nav id="Topo">
    <div class="ui secondary pointing big menu">

        <div id="Logo" class="ui-text topo">

            <a href="index.html">
                <img src="../../assets/img/logo.png">
            </a>

        </div>

        <div class="right menu">
            <a class="ui item" href="cadastro.html">
                <p class="corb">Cadastrar</p>
            </a>
            <a class="ui item" href="login.html">
                <p class="corb">Entrar</p>
            </a>
        </div>
    </div>

</nav>

<section id="paises">

    <div>
        <img class="imagem" src="../../assets/img/america.jpg">
    </div>


    <div class="ui stackable grid">
        <div class="ui four wide column"></div>
        <div class="ui four wide column">
            <div class="ui segment">
                <p class="texto">O continente americo centetrional, possui um vasto leque de pontos turisticos, hoteis,
                    entre outros serviços
                    turisticos. No Alaska, o ponto que mais tem um foco estrelado é o qusito da gastranomia. Já no
                    Canadá, a rede
                    de hotelaria é conhecida pela sua excelência e zelo pelo cliente, e também, denotam de um alto nível
                    de
                    avaliação do seu hospedado. E nos Estados Unidos, o extremo forte, são os pontos turísticos. Também
                    na sudeste
                    do país, se encontra o tão famoso parque de diversão do mundo, o Walt Disney World.
                </p>
            </div>
        </div>
        <div class="ui four wide column">
            <div class="ui segment">
                <img class="imagem" src="../../assets/img/disney.jpg">
                <div class="ui divider"></div>
                <h3 class="textoalin">Walt Disney Wolrd - Florida</h3>
            </div>
        </div>
        <div class="ui four wide column"></div>
    </div>


    <div>
        <img class="imagem" src="../../assets/img/americac.jpg">
    </div>


    <div class="ui stackable grid">

        <div class="ui four wide column"></div>
        <div class="ui four wide column">
            <div class="ui segment">
                <img class="imagem" src="../../assets/img/cancun.jpg">
                <div class="ui divider"></div>
                <h3 class="textoalin">Museu Submarino - Cancun - México</h3>
            </div>
        </div>
        <div class="ui four wide column">
            <div class="ui segment">
                <p class="texto">
                    A América Central é a parte do continente na qual a concentração de beleza natural se encontra numa
                    homogeniedade
                    com os grandes centros urbanos. A parte mais ao norte possuem desertos que fazem fronteiras com os
                    Estados Unidos

                </p>
            </div>
        </div>
        <div class="ui four wide column"></div>


    </div>


    <br>
    <br>
    <br>
    <div class="ui divider"></div>
    <br>
    <br>
    <br>
    <div class="caixa">


        <div class="ui stackable grid">
            <div class="ui column"></div>
            <div class="ui fourteen wide column">
                <div class="ui three columns grid stackable">
                    <div class="ui column">
                        <section class="ui segment yellow">
                            <h3 class="header textoalin">Gastronomia</h3>
                            <div class="ui divider"></div>
                            <div class="alinhamentoC">
                                <div class="ui card">
                                    <div class="content">
                                        <div class="right floated meta">14h</div>
                                        <img class="ui avatar image" src="../../assets/img/julia.jpg"> Julia Carter
                                    </div>
                                    <div class="ui divider"></div>
                                    <p class="textocard">Fogo de Chão</p>
                                    <div class="ui divider"></div>
                                    <div class="image">

                                        <img src="../../assets/img/chu.jpg">

                                    </div>
                                    <div class="content">
                                                        <span class="right floated">
                                                          <i class="heart outline like icon"></i>
                                                          17 likes
                                                        </span>
                                        <i class="comment icon"></i>
                                        3 comentários
                                    </div>
                                    <div class="extra content">
                                        <div class="ui large transparent left icon input">
                                            <i class="heart outline icon"></i>
                                            <input type="text" placeholder="Comentário">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="ui column">
                        <section class="ui segment blue">
                            <h3 class="header textoalin">Hotelaria</h3>
                            <div class="ui divider"></div>
                            <div class="alinhamentoC">
                                <div class="ui card">
                                    <div class="content">
                                        <div class="right floated meta">4h</div>
                                        <img class="ui avatar image" src="../../assets/img/ruan.jpg"> Ruan
                                    </div>
                                    <div class="ui divider"></div>
                                    <p class="textocard">Copacabana Palace</p>
                                    <div class="ui divider"></div>
                                    <div class="image">
                                        <img src="../../assets/img/co.jpg">
                                    </div>
                                    <div class="content">
                                                        <span class="right floated">
                                                          <i class="heart outline like icon"></i>
                                                          107 likes
                                                        </span>
                                        <i class="comment icon"></i>
                                        40 comentários
                                    </div>
                                    <div class="extra content">
                                        <div class="ui large transparent left icon input">
                                            <i class="heart outline icon"></i>
                                            <input type="text" placeholder="Comentário">
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </section>
                    </div>
                    <div class="ui column">
                        <section class="ui segment orange">
                            <h3 class="header textoalin">Pontos turísticos</h3>
                            <div class="ui divider"></div>
                            <div class="alinhamentoC">
                                <div class="ui card">
                                    <div class="content">
                                        <div class="right floated meta">1 Dia</div>
                                        <img class="ui avatar image" src="../../assets/img/mery.jpg"> Mery
                                    </div>
                                    <div class="ui divider"></div>
                                    <p class="textocard">Disney</p>
                                    <div class="ui divider"></div>
                                    <div class="image">
                                        <img src="../../assets/img/di.jpg">
                                    </div>
                                    <div class="content">
                                                        <span class="right floated">
                                                          <i class="heart outline like icon"></i>
                                                          7 likes
                                                        </span>
                                        <i class="comment icon"></i>
                                        43 comentários
                                    </div>
                                    <div class="extra content">
                                        <div class="ui large transparent left icon input">
                                            <i class="heart outline icon"></i>
                                            <input type="text" placeholder="Comentário">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>


<section id="Rodape" class="ui section corb">
    <div class="ui container">

        <section class="ui section">

            <h2>Dúvidas, Reclamações ou Sugestões</h2>
            <div class="ui divider"></div>
            <p>Para uma experiência de maior qualiade, reporte-nos qualquer problema, duvida ou sugestão</p>

            <p><a class="corb" href="https://goo.gl/CfvNFW">contato.tw@tripwus.com</a></p>


            <i class="huge mail icon"></i>
        </section>

    </div>
</section>


</body>

</html>