<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>


O  continente americo centetrional, possui um vasto leque de pontos turisticos, hoteis, entre outros serviços
turisticos. No Alaska, o ponto que mais tem um foco estrelado é o qusito da gastranomia. Já no Canadá, a rede
de hotelaria é conhecida pela sua excelência e zelo pelo cliente, e também, denotam de um alto nível de
avaliação do seu hospedado. E nos Estados Unidos, o extremo forte, são os pontos turísticos. Também na sudeste
do país, se encontra o tão famoso parque de diversão do mundo, o Walt Disney World.