<!DOCTYPE html>
<html lang="pt">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TripWus</title>

    <!-- Css do site inteiro-->

    <link rel="shortcut icon" type="img/x-png" href="../../assets/img/logo-top.png">
    <link rel="stylesheet" type="text/css" href="../../assets/vendor/semantic/semantic.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/estilo.css">
    <link rel="stylesheet" type="text/js" href="../../assets/js/script.js">


</head>

<body>


<!--Barra do topo la em cima -->
<nav id="Topo">
    <div class="ui secondary pointing big menu corb">

        <div id="Logo" class="ui-text topo">

            <a href="index.html">
                <img src="../../assets/img/logo.png">
            </a>

        </div>

        <div class="right menu">
            <a class="ui item" href="cadastro.html">
                <p class="corb">Cadastrar</p>
            </a>
            <a class="ui item" href="login.html">
                <p class="corb">Entrar</p>
            </a>
        </div>
    </div>

</nav>


<div id="Principal">

    <img class="image" src="../../assets/img/california.jpg">

    <div class="sobrepor">

        <div class="ui stackable grid opaco central">
            <div class="two wide column"></div>
            <div class="twelve wide column">

                <div class="ui segment">
                    <h1 class="ui header">Cadastre-se</h1>
                    <div class="ui divider"></div>
                    <form class="ui medium form" action="../controllers/loga_usuario.php">

                        <div class="field">

                            <div class="three fields">
                                <div class="field">
                                    <label>Nome</label>
                                    <input type="text" name="Nome" placeholder="Nome">
                                </div>
                                <div class="field">
                                    <label>Sobrenome</label>
                                    <input type="text" name="Sobrenome" placeholder="Sobrenome">
                                </div>
                                <div class="field">
                                    <label>Nome de Usuário</label>
                                    <input type="text" name="Nome" placeholder="Usuário">
                                </div>
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Sexo</label>
                                <select class="ui fluid dropdown">
                                    <option value=""></option>
                                    <option value="Masc">Masculino</option>
                                    <option value="Fem">Feminino</option>
                                </select>
                            </div>
                            <div class="field">
                                <label>Tipo de Viajante</label>
                                <select class="ui fluid dropdown">
                                    <option value=""></option>
                                    <option value="VL">Viajante de Luxo</option>
                                    <option value="VC">Viajante Comun</option>
                                    <option value="VM">Mochileiro</option>
                                </select>
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Preferências</label>
                                <br>
                                <div class="ui checkbox">
                                    <input type="checkbox" name="gastro">
                                    <label>Gastronomia</label>
                                </div>

                                <div class="ui checkbox">
                                    <input type="checkbox" name="hotel">
                                    <label>Hotelaria</label>
                                </div>

                                <div class="ui checkbox">
                                    <input type="checkbox" name="pontu">
                                    <label>Pontos Turísticos</label>
                                </div>
                            </div>
                            <div class="field">
                                <label>Data de Nascimento</label>
                                <input type="date" name="data" placeholder="Data de Nascimento">
                            </div>

                        </div>

                        <div class="fields">
                            <div class="eight wide field">
                                <label>E-mail</label>
                                <input type="email" name="e-mail" placeholder="E-mail">
                            </div>
                            <div class="eight wide field">
                                <label>Confirme seu e-mail</label>
                                <input type="email" name="confire-mail" placeholder="Confirmação">
                            </div>

                        </div>
                        <div class="fields">
                            <div class="eight wide field">
                                <label>Senha</label>
                                <input type="password" name="senha" placeholder="Senha">
                            </div>
                            <div class="eight wide field">
                                <label>Confirme sua senha</label>
                                <input type="password" name="confirsenha" placeholder="Confirmação">
                            </div>
                        </div>
                        <div class="ui segment">

                            <div class="inline fields">

                                <div class="bloco">
                                    <div class="ui toggle checkbox">
                                        <input type="checkbox" name="termo">
                                        <label>Eu li e aceito os termos e condições deste site</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="ui red submit button">
                            <a href="index.html">
                                <p class="corb">Cancelar</p>
                            </a>
                        </div>
                        <div class="ui green submit button">
                            <a href="#">
                                <p class="corb">Cadastrar</p>
                            </a>
                        </div>
                    </form>

                </div>
                <div class="two wide column"></div>
            </div>

        </div>

    </div>

</div>


<section id="Rodape" class="ui section alinhamentoR">
    <div class="ui container">

        <section class="ui corb section">

            <h2>Dúvidas, Reclamações ou Sugestões</h2>
            <div class="ui divider"></div>
            <p>Para uma experiência de maior qualiade, reporte-nos qualquer problema, duvida ou sugestão</p>

            <p><a class="corb" href="https://goo.gl/CfvNFW">contato.tw@tripwus.com</a></p>


            <i class="huge mail icon"></i>
        </section>

    </div>
</section>


</body>

</html>
