<!DOCTYPE html>
<html lang="pt">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TripWus</title>

    <!-- Css do site inteiro-->

    <link rel="shortcut icon" type="img/x-png" href="img/logo-top.png">
    <link rel="stylesheet" type="text/css" href="semantic/semantic.css">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
    <link rel="stylesheet" type="text/js" href="js/script.js">


</head>

<body>


<!--Barra do topo la em cima -->

<nav id="Topo">
    <div class="ui secondary pointing big menu corb">

        <div id="Logo" class="ui-text topo">

            <a href="index.html">
                <img src="img/logo.png">
            </a>

        </div>

        <div class="right menu">
            <a class="ui item" href="cadastro.html">
                <p class="corb">Cadastrar</p>
            </a>
            <a class="ui item" href="login.html">
                <p class="corb">Entrar</p>
            </a>
        </div>
    </div>

</nav>

<section id="paises">


    <div class="caixa margem">
        <div class="ui stackable grid">
            <div class="ui column"></div>
            <div class="ui fourteen wide colum">
                <div class="ui special cards">
                    <div class="card">


                        <img class="imagemaval" src="img/pref.jpg">

                        <div class="content">
                            <a class="header">1º Destino</a>
                            <div class="meta">
                                <span class="date">Lorem</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                                <i class="users icon"></i>
                                40 vizualizações
                            </a>
                        </div>
                    </div>
                    <div class="card">


                        <img class="imagemaval" src="img/pref.jpg">

                        <div class="content">
                            <a class="header">2º Destino</a>
                            <div class="meta">
                                <span class="date">Lorem</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                                <i class="users icon"></i>
                                14 vizualizações
                            </a>
                        </div>
                    </div>
                    <div class="card">

                        <img class="imagemaval" src="img/pref.jpg">

                        <div class="content">
                            <a class="header">3º Destino</a>
                            <div class="meta">
                                <span class="date">Lorem</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                                <i class="users icon"></i>
                                25 Vizualizações
                            </a>
                        </div>
                    </div>
                    <div class="card">


                        <img class="imagemaval" src="img/pref.jpg">

                        <div class="content">
                            <a class="header">4º Destino</a>
                            <div class="meta">
                                <span class="date">Lorem</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                                <i class="users icon"></i>
                                62 Vizualizações
                            </a>
                        </div>
                    </div>
                    <div class="card">

                        <img class="imagemaval" src="img/pref.jpg">

                        <div class="content">
                            <a class="header">5º Destino</a>
                            <div class="meta">
                                <span class="date">Lorem</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                                <i class="users icon"></i>
                                52 Vizualizações
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="imagemaval" src="img/pref.jpg">

                        <div class="content">
                            <a class="header">6º Destino</a>
                            <div class="meta">
                                <span class="date">Lorem</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                                <i class="users icon"></i>
                                250 Vizualizações
                            </a>
                        </div>
                    </div>
                    <div class="card">

                        <img class="imagemaval" src="img/pref.jpg">

                        <div class="content">
                            <a class="header">7º Destino</a>
                            <div class="meta">
                                <span class="date">Lorem</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                                <i class="users icon"></i>
                                2 Vizualizações
                            </a>
                        </div>
                    </div>
                    <div class="card">

                        <img class="imagemaval" src="img/pref.jpg">

                        <div class="content">
                            <a class="header">8º Destino</a>
                            <div class="meta">
                                <span class="date">Lorem</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                                <i class="users icon"></i>
                                21 Vizualizações
                            </a>
                        </div>
                    </div>

                </div>

            </div>
            <div class="ui column"></div>
        </div>
    </div>


</section>


<section id="Rodape" class="ui section">
    <div class="ui corb container">

        <section class="ui section">

            <h2>Dúvidas, Reclamações ou Sugestões</h2>
            <div class="ui divider"></div>
            <p>Para uma experiência de maior qualiade, reporte-nos qualquer problema, duvida ou sugestão</p>

            <p><a class="corb" href="https://goo.gl/CfvNFW">contato.tw@tripwus.com</a></p>


            <i class="huge mail icon"></i>
        </section>

    </div>

</section>


</body>

</html>